[2016-10-12 01:30] benweier opened #3 "Test ticket from Code Climate"

[2016-10-12 01:31] #3 closed

[2016-10-28 23:15] WFrancois opened #6 "Getting character or guild with keys"
Hi !

I'm currently trying to build an application in node.js, but I have a problem in the blizzard.wow.character part.

I try to get the achievements of a member, but it doesn't seem to work, here's my code :
`const blizzard = require('blizzard.js').initialize({ apikey: API_KEY });
blizzard.wow.character(['profile', 'achievements'], { realm: 'Sargeras', name: 'Isak', origin: 'eu' })
  .then(respo

[2016-10-29 01:05] benweier commented on #6
Thanks @WFrancois I'll take a look into it

[2016-10-29 02:27] #6 closed

[2016-10-29 02:31] benweier commented on #6
@WFrancois I've just published `1.4.0` to resolve this issue. Please update and let me know if there's anything else :)

[2016-10-29 13:54] WFrancois commented on #6
@benweier Works great ! Thank you for your work  ! :)

[2016-11-01 01:05] dnorthrupva opened #7 "Getting WoW Realm List"
Hello,

I'm having issued getting a response from any GET requests for wow/realm list.

I've tried with/without region, /wow/realm/status as specified in the document, and numerous variations of it. What is the end point for a list of realms?

[2016-11-01 03:34] benweier commented on #7
HI @dnorthrupva, what's the issue you're having? Does the promise return anything in the response?

[code]

[2016-11-01 04:31] benweier commented on #7
I've looked into this further and there shouldn't be any problems fetching the full realm list. However there was an issue affecting fetching a list of realms which is now resolved in `1.5.0`. Let me know if this doesn't work as expected for you

[2016-11-01 13:34] dnorthrupva commented on #7
Thanks for the speedy reply.

It must be a poor use of it on my end - In which file are you calling the 'blizzard.wow.realms' function? I've been trying quite a bit but struggling to figure out the proper flow.

The only ones I'm using successfully are going to the end-point of my domain.

For instance {{mydomain}}/wow/en/character/{server}/{name}
Which feels completely wrong.

It's definitely use

[2016-11-02 00:18] benweier commented on #7
I'm not sure what you mean. Could you paste a snippet of the code you're having trouble with?

You can also take a look at my [example app](https://github.com/benweier/blizzard.js/tree/example) to see a sample of what to do.

[2016-11-02 01:29] dnorthrupva commented on #7
Yea, wording it is obviously proving an issue. I did clone the example app - https://demoappagain.herokuapp.com/ - But all I was able to leverage of it was the end-points for it.

So while  fetching {{mydomain}}/wow/en/character/{server}/{name} works, I'm obviously having issues leveraging your functions.

So for instance I have Users.js(Controller) - I'd like to make it so this page 'always' load

[2016-11-02 03:24] benweier commented on #7
The first thing I notice is that your express app isn't being told to use `router` so it doesn't know that the '/Users' route exists and can't listen or respond to requests on that path. You're also telling the '/Users' route to return `res.json(posts)` before the blizzard.js promise has a chance to settle (but `posts` is undefined).

Your first change should be remove `res.json(posts)` so that th

[2016-11-02 12:24] dnorthrupva commented on #7
I really appreciate you taking the time to reply. I feel stupid for how simple my question is.

Your code snippet led me on the right path. I finally managed to get a page response by placing

inside of 'server.js' - I will try to see why putting this inside of User/Bans.js etc etc wouldn't work.

Appreciate all the help. Look forward to using this a lot more.

[2016-11-02 13:02] benweier commented on #7
Glad I could help! Good luck 👍

[2016-11-02 13:02] #7 closed

[2016-11-06 22:04] dnorthrupva opened #8 "Unable to pull Account Data post sync"
I'm trying to use the passport_bnet package Blizzard released so that the flow would be:

Authorize -> Get token + id + BTag -> Feed token into /account/us/user endpoint.

This flow works when I go to https://us.api.battle.net/account/user?access_token=~~~~~ end point directly, but not when I use the wrapper.

Thoughts/insight? I'm just continuously getting 403/Forbidden on the hit. I'm thinking i

[2016-11-07 00:24] benweier commented on #8
Thanks @dnorthrupva can you paste a code snippet of how you're using `blizzard.account.user()`?

[2016-11-07 00:57] dnorthrupva commented on #8
Sure! So that's actually where part of my issue is.

[code]

Obv the commented out portion is what I found in the source to call it via your package.
The return done ATM is returning the account_id and the battletag. It's using the person who 'authorized'ed it's token to pull it.

Mainly I'm just confused on how to pull it in this sense. Oauth is working, but like I said - I'd love for post-auth f

[2016-11-07 09:50] solfolango commented on #8
Same here, using passport-bnet also. I use it a bit differently:
[code]

Response by node:

Querying a single wow character not related to the user is working fine, no problems with that one.

[2016-11-07 10:57] benweier commented on #8
Thanks for the reports! I'm working on a fix for the access token woes.

[2016-11-07 13:19] #8 closed

[2016-11-07 13:22] benweier commented on #8
I have just published `1.6.0` to resolve this issue. The only change is the `token` parameter is now `access_token` to match the request parameter expected by the API.

[2016-11-09 15:27] solfolango commented on #8
Thanks for the fix, I can confirm it's working now.

Perhaps you should adjust the documentation to reflect the change that we need to use access_token instead of token in blizzard.account.wow({ ...})?

[2016-11-10 00:26] benweier commented on #8
Thanks @solfolango I thought I fixed all the docs.. Will take care of it now

[2017-02-24 07:47] khay opened #23 "Error Handling"
Hi, I would like to know is there any way to handle errors for **Unhandled promise rejection** ?

Thanks

[2017-02-24 09:32] benweier commented on #23
Hi @khay, blizzard.js doesn't handle resolved or rejected promises but returns the promise object itself. You should include a `catch()` statement when calling any blizzard.js method.

for example
[code]
will log a successful request (a resolved promise) and log a failed request (a failed promise).

[2017-02-24 09:38] #23 closed

[2017-03-15 13:02] dlopes7 opened #27 "Add Typescript definitions (.d.ts)"
It would be great to have a .d.ts file with the typings so that it would be easier to use this great library with Typescript (@types/blizzard.js)

[2017-03-15 13:16] benweier commented on #27
Thanks @dlopes7 I'll look at what I need to do for this

[2017-03-20 15:25] nkane1997 opened #30 "Exporting from response.data"
Hi,

First time picking up any java as well as anything to do with an api. However my aim is to create a discord bot that would feed this information back when prompted. I have managed to setup up my discord bot and configure its commands as well as use your example to pull some information from the API however I am confused as to how to get the data from the response.data and into a string where

[2017-03-21 08:50] benweier commented on #30
Hi @nkane1997 the response data you get back from the API is an object that you can access the properties on using their key in exactly the manner to describe.

e.g. a character with these properties
[code]

can be accessed from the response object as

[code]

If you're using `discord.js` for your Discord bot a quick example might look like this

[code]

When you type `!character plexandie draenor

[2017-03-21 14:28] nkane1997 commented on #30
Thanks a lot for the help. I am using discord.js-commando and have managed to take the knowledge you have given me and apply it to my script.

Turns out i was just using JSON.stringify wrong and was not quite understanding how response.data worked.

However i am now able to turn the response data into strings and use switch case statements to convert the id numbers to words e.g. 3 = hunter.

This

[2017-03-21 16:00] nkane1997 commented on #30
One further question if i may add. In regards to using 'progression' when i use this it returns
 progression:
   { raids:
      [ [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],
        [Object],

[2017-03-23 02:09] benweier commented on #30
@nkane1997 you're not harassing, I'm happy to assist you!

Because the raid response is an array you don't access the values the same way as objects. Objects use named keys (`name`, `id`, etc) that you access using that key but you access array values using the index of their location within the list (`0` for the first, `1` for the second, and so on)

To get the first `raids` object you would do

[2017-03-23 11:08] nkane1997 commented on #30
Thanks again for the quick reply.

This is a big help as it lets me post the names of the raids etc however i am unable to access the data inside still.

e.g.
        "bosses": [{
            "id": 11502,
            "name": "Ragnaros",
            "normalKills": 0,
}]

When i try and state that i would like it to report that data it comes back as undefined.

console.log(raid.id, raid.name, raid.b

[2017-03-23 11:17] benweier commented on #30
Hi @nkane1997
The `bosses` value is an array as well (denoted by the square brackets `[]`) with each boss value being an object (denoted by the curly brackets `{}`). You can access the bosses the same way as accessing the `raids` values.

[code]

[2017-03-23 12:37] nkane1997 commented on #30
Once again absolutely superb.

I have managed to apply the information you have given me to pull the data required.

Progress Report :D https://gyazo.com/3e1a95c3a4cfbd565f339f04dfdd652a

It seems so far that most issues i have been having have just been lack of understanding in regards to how to actually fetch the data. You have been a massive help.

There are now only 3 fields left to fill so ho

[2017-03-23 16:29] nkane1997 commented on #30
https://gyazo.com/a42bc54a68e945c7a4be4dc8d67d4109

Finished it minus the best key but I am happy with how it is now.

Once again you have been amazing. Thank you very much for the prompt responses over the past few days.

I have mentioned blizzard.js at the bottom of the bot when it replys to the command.

Thanks!

[2017-03-23 16:30] #30 closed

[2017-05-24 17:50] greenkeeper[bot] opened #36 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.2** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/benweier/blizzard.js/compare/greenkeeper%2Fmocha-3.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ve

[2017-06-03 19:40] greenkeeper[bot] opened #37 "An in-range update of axios is breaking the build 🚨"
## Version **0.16.2** of [axios](https://github.com/mzabriskie/axios) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/benweier/blizzard.js/compare/greenkeeper%2Faxios-0.16.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      axios
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-07-14 00:59] benweier opened #44 "Add support for WoW Game Data endpoints"
New WoW Game Data API as described here: https://us.battle.net/forums/en/bnet/topic/20757557566

- [x] Connected Realm API
- [x] Realm API
- [x] Region API
- [x] Mythic Keystone Leaderboard API
- [x] WoW Token API

[2017-07-14 08:25] markhaehnel opened #45 "Add support for client credentials flow"
Authorization for the new Game Data endpoints (#44) is now accomplished via OAuth access tokens.
It would be nice to have the client credential flow implemented in this library to retrieve an access token.

More details here: https://dev.battle.net/docs/read/oauth#ClientCredentialsFlow

[2017-08-14 15:22] Kopertje opened #53 "Item level of WoW Charater"
Hello,

I cant seem to get the total (eqquiped) item level with this blizzard.js.
Other data i can get just not the item level. Does anyone has a solution for this?

Groet,
Kopertje

[2017-08-19 06:00] #37 closed

[2017-08-19 06:00] #36 closed

[2017-09-06 05:59] markhaehnel commented on #53
Just use the WoW character endpoint with the `items` key like this:
[code]
The result data contains the `item.averageItemLevel` and `item.averageItemLevelEquipped` properties.

[2017-09-16 07:35] #44 closed

[2017-10-01 07:27] fredriklindell opened #54 "missing oauth/token endpoints"
newly implemented feature, credentials, in version 2.0.0 does not work for origin: eu, kr, tw.

Below endpoints does not exist:
https://eu.api.battle.net/oauth/token
https://kr.api.battle.net/oauth/token
https://tw.api.battle.net/oauth/token

Am I using wrong origins?

Thanks in advance!

[2017-10-01 07:38] fredriklindell opened #55 "credentials (us) not working"
using: const credentials = await blizzard.get().data.credentials({id: battleNetApiKey, secret: battleNetApiSecret, origin: 'us' })

gives me attached error. what am i doing wrong?

thanks in advance!
[credential-error-output.txt](https://github.com/benweier/blizzard.js/files/1346991/credential-error-output.txt)

[2017-10-01 08:03] benweier commented on #54
Well shit. I'm missing some code from another machine. I'll release a patch fix pronto.

[2017-10-01 15:22] fredriklindell commented on #54
No rush :) Nice work!

[2017-10-02 05:02] benweier commented on #54
I'm so sorry I pushed a broken release @fredriklindell

I've just published `2.0.1` to resolve this issue.

The OAuth token API is available for `us` (for US and SEA), `eu` (just Europe), and `apac` (for TW and KR). You would request application tokens for those geographic regions like this:

[code]

[2017-10-02 05:04] benweier commented on #55
Hi @fredriklindell

The correct method for requesting OAuth tokens is `blizzard.data.credentials({ origin: 'us', id: BLIZZARD_CLIENT_ID, secret: BLIZZARD_SECRET_KEY })`

[2017-10-02 08:05] fredriklindell commented on #55
Alrgiht, so blizzard.data.credentials({id: battleNetApiKey, secret: battleNetApiSecret, origin: 'us' }) should work? I am using the same credentials as this page https://dev.battle.net/io-docs automatically filled when logged in. Are they the correct ones?

Thanks in advance

[2017-10-02 10:45] benweier commented on #55
Yes, that should work. Let me know if you have any other issues!

[2017-10-02 18:48] fredriklindell commented on #55
Seems like version 2.0.1 also fixes this issue. Great work and many thanks :)

[2017-10-02 22:16] #55 closed

[2017-10-02 22:16] #54 closed

[2017-10-02 22:17] benweier commented on #53
@Kopertje this is the correct solution. I hope it has helped you :)

[2017-10-02 22:17] #53 closed

[2017-10-02 22:18] benweier commented on #45
Ability to request an application token is now available with `2.0.1`. Let me know if you have any issues!

[2017-10-02 22:18] #45 closed

[2017-10-14 16:18] markhaehnel opened #56 "Namespace doesn't get send in the data endpoint"
See title.

[2017-10-15 03:24] #56 closed

[2017-10-15 07:45] markhaehnel commented on #56
Thanks for the fast fix. Can you release 2.0.2 to npm?

[2017-10-15 07:46] benweier commented on #56
Done!

[2018-01-17 00:27] danielbeicht opened #63 "ENOTFOUND Error"
Hi,

since yesterday my application using blizzard.js is throwing lots of UnhandledPromiseRejectionWarnings and I don't get any data from the blizzar api. I haven't changed anything in the code and it worked the last month perfect.
![err](https://user-images.githubusercontent.com/15012334/35019114-66dabd56-fb25-11e7-8fcb-0f195a1749a6.PNG)

[2018-01-17 00:29] #63 closed

[2018-01-17 09:37] markhaehnel commented on #27
Any update on this?

[2018-01-19 00:14] benweier commented on #27
I have spent some time looking into definitions files but I haven't developed with Typescript before so it feels very foreign to me. I'd appreciate any help available on how to create typings if someone wants to make a contribution.

[2018-01-19 02:32] dlopes7 commented on #27
I’ll submit a pull request with it
On Thu, 18 Jan 2018 at 22:14 Ben Weier <notifications@github.com> wrote:

[2018-02-11 20:33] ForrestMcIntyre opened #66 "Code 403: Account Inactive"
I am trying to get the stats for Healmycrits-Dalaran (US)

If I use the URL in a browser (https://us.api.battle.net/wow/character/dalaran/Healmycrits?fields=statistics&locale=en_US&apikey=BLIZZARD_API_ID) it works correctly and returns the intended JSON
[code]
But when I try to use blizzard.js on anything that doesn't require an `access_token` then I get the response
``` { code: 403, type: 'Forbid

[2018-02-11 23:00] benweier commented on #66
Do you mind pasting the `../config/blizzard` code here @ForrestMcIntyre. I suspect `blizzard.js` isn't being initialised with your API key. `mythicChallengeMode` works because the API key is manually provided to `credentials` which gives you a fresh access token on every request. The `character` request will use the API key you initialise with (in this case it's not being set) unless you override

[2018-02-11 23:38] ForrestMcIntyre commented on #66
**config/blizzard.js**
[code]

Also trying option 2 with the key directly in the `blizzard.wow.character()` call still yields the same response

[2018-02-12 00:42] ForrestMcIntyre commented on #66
Deleted the application due to another issue and forgot to update key. Working now that I'm using the correct key

[2018-02-12 00:42] #66 closed

[2018-04-26 13:47] greenkeeper[bot] opened #69 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-11-15 12:40] rejas opened #75 "Migration to Blizzard Battle.net Developer Portal"
Blizzard announced depreacting the old mashery portal and switching all api access over to their own new portal.
Are you aware of this and will there be changes necessary to this library and apps that use this?

[2018-11-15 12:42] rejas commented on #75
FYI: https://develop.battle.net/documentation/guides/migration-guide

[2018-11-17 07:34] #69 closed

[2018-11-28 12:02] benweier commented on #75
I have started work on it. Currently figuring out a bit of a restructure/reviewing changes to the Game Data endpoints and namespaces. I appreciate the offer, although I'm not sure what parts can be spun off

[2018-11-28 12:09] rejas commented on #75
Good to hear. In any case, if there are "outsourcable" tasks, maybe define them in an issue so we helpers can take a look and weigh in or take them?
Also: once there are develop-branches I am more than willing to test them with my rejas/wowfeed app to see if there are any regressions.

[2018-12-01 07:39] greenkeeper[bot] opened #76 "An in-range update of docdash is breaking the build 🚨"
## The devDependency [docdash](https://github.com/clenemt/docdash) was updated from `1.0.0` to `1.0.1`.

🚨 [View failing branch](https://github.com/benweier/blizzard.js/compare/master...benweier:greenkeeper%2Fdocdash-1.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docdash is a devDependency of this project. It **mi

[2018-12-04 05:30] greenkeeper[bot] opened #77 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.1.0` to `22.1.1`.

🚨 [View failing branch](https://github.com/benweier/blizzard.js/compare/master...benweier:greenkeeper%2Feslint-plugin-jest-22.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-p

[2018-12-07 04:13] jahraphael commented on #75
Hi there, I was just wanting to check in on this migration work to see how things are going. We're wanting to get compliant with the new Battle.Net developer portal before 8.1. I'm happy to contribute development time to the official port if you're at a point where that makes sense. Otherwise, we'll just fork and build our own support for now.

[2018-12-23 14:41] rejas commented on #75
I see you started work on migrating to the new dev portal @benweier Is it testable yet and if so, what should one change in the calls to your API? Happy xmas btw :-)

[2018-12-24 10:36] benweier commented on #75
Thanks @rejas, Happy Christmas to you as well! I believe I've updated all the endpoints to use the new API and I'm checking on what I've missed in terms of OAuth and the `Authorization` header, the `namespace` query value, and making general improvements to internals.

So far there's no concrete change to `blizzard.js` methods (I'm undecided whether I take this opportunity to rename `apikey` to `k

[2018-12-24 11:55] rejas commented on #75
Trying out the branch with the new api endpoint i only get a

`Request failed with status code 401`

Unauthorized-error.  I created a client on the new site and updated my apikey with the new client secret. Do I miss something here?

[2018-12-24 12:08] benweier commented on #75
Yeah I've just run into that myself and have fixed it. The new API portal accepts either a `access_token` query parameter or the `Authorization` header and it's no longer based on the `apikey` query parameter. I'll push a few more commits soon before calling it a night.

[2018-12-24 13:17] benweier commented on #75
I'm sorry, I lied earlier. There will be changes to the API, but all in the hopes of simplification and consistency.

`initialize` now accepts these object properties as its first argument:
[code]
These properties now form the base default values for _all_ requests going through `get`/`fetchToken`/`checkToken`. If any required property is missing from an API method (e.g. /wow/character) it will be

[2018-12-24 16:06] rejas commented on #75
No worries about that lying ;-) Still a little confused on how to call the initialize now with regards to the token. Currently I try this:
[code]
So how does the `token` param fit into the `initialize`?
Probably a good idea to call it a v3 (and maybe update the docs too, you need some help with that btw?) Have a good xmas eve etc pp :-) Hohoho!

[2018-12-25 08:05] benweier commented on #75
The `token` param is a "pre-initialised" authorisation and isn't required. You could do something to initialise without a token and then set the new default token immediately but I see this as unnecessary boilerplate. You should only need to pass it to `initialize` if you have fetched and stored it somewhere already.

Because a token is now required I'm going to make it automatically fetch a token

[2018-12-26 11:52] benweier commented on #75
There's been a lot of movement today. The `id` property conflicted with a few different API methods and it wasn't clear whether the value in the `get` call after merging with defaults was the client ID or a parameter to the original function (like in the case of `blizzard.wow.achievement({ id: undefined })`.

So I've renamed the client `id` property to `key` and significantly cleaned up argument h

[2018-12-27 17:05] rejas commented on #75
Looks like some work still to do, your builkds are currently failing... Well, lets rest until 2019 but not longer ;-)

[2018-12-28 09:21] benweier commented on #75
Lots of work done today... we're getting close now. Just got to make a pass over the Starcraft methods, update documentation, and add a migration guide.

[2018-12-31 07:04] benweier commented on #75
I'm reasonably confident this is ready for testing. Be aware there have been significant changes to many API methods. I'm going to write full documentation and migration after the new year.

**initialise**
[code]

All previous `blizzard.data` methods have been moved into the `blizzard.wow` namespace. Blizzard originally just called them "Game Data APIs`" so they were put under `.data`. Now that th

[2018-12-31 07:34] benweier commented on #75
Hope everyone has a great new year!

[2018-12-31 09:35] rejas commented on #75
Good news: Works for my char feeds, Bad news: some issues with my guild feeds, still investigating though. Just wanted to give a big thanks for your work and a happy new year to you!!!!! CU 2019!

[2018-12-31 12:38] Nerothos commented on #75
I'm going to have a go at this too.
Thanks for updating it and happy new year !

[2018-12-31 15:20] fredriklindell commented on #75
Hi, when running:

[code]

i get the following error: **Required String parameter 'token' is not present**

[2018-12-31 16:41] Nerothos commented on #75
![image](https://user-images.githubusercontent.com/3739096/50564183-425e3f00-0d23-11e9-9759-6ac98d901753.png)
Webstorm tell me that it need an origin parameter, maybe try adding it?

[2018-12-31 17:04] fredriklindell commented on #75
No the problem is that the validateApplicationToken function in blizzard.js does not add the the 'token' query param as this page states: https://gist.github.com/erorus/6c08227921ff99d93295fa9f91c7fd70

[2018-12-31 17:42] fredriklindell commented on #75
This solves the problem:

[code]

[2019-01-01 23:30] benweier commented on #75
The docs at https://develop.battle.net/documentation/api-reference/oauth-api prefer the use of the `Authorization` header over the query parameter for security. It appears this request doesn't like the missing query parameter so I'll update to use the query and try and report it to the API team.

[2019-01-02 10:22] rejas commented on #75
Guild feed issues disappeared today, dont know why :-) So from my side (https://wowfeed.herokuapp.com/) I would be ready to switch :-)
Anybody else has problems with the stability of the https://develop.battle.net/access site? Sometimes I get error messages on that webpage ...

[2019-01-02 17:15] czbaker commented on #75
I'm currently getting 401 errors when trying to use this library to access stuff in a GraphQL query, and I know that I've got a good token and stuff.

Is this because the version I've installed from Yarn doesn't incorporate the migration to the new Dev Portal?  (I don't know if the NPM version has that).

If this is the case, how do I go about fixing this, since it seems that migration has mostly

[2019-01-02 17:19] rejas commented on #75
You have to install the updated branch, your package.json has to have this entry:
`    "blizzard.js": "https://github.com/benweier/blizzard.js.git#issue-75",`

Then an `npm install` (or `yarn install`) will get the updated code. Since the updated code isnt released on npm yet, this is the only way to test out the new API

[2019-01-02 17:22] czbaker commented on #75
Thank you so much for the super quick response!   Doing that now.  :)

[2019-01-02 17:49] czbaker commented on #75
So, when I try to use the new version, I had to update/patch the Endpoint URL for `blizzard.account.user` (was getting a 404 error) as the URL has changed according to docs.

After I fixed that, I continue to get 401 errors, despite being sure that my keys and stuff are valid and that I switched over to the "new" `initialize()` method that takes key/secret instead of the Mashery version.

Attached

[2019-01-02 22:30] Nerothos commented on #75
Regarding the token I found something on the discord quoting :

It apparently should be sent in the body and not the header? I hope this help

[2019-01-03 00:03] benweier commented on #75
Thanks guys, the `validateApplicationToken` method now uses POST with `token` in the body. I have confirmed this to work locally.

@czbaker I apologise, I've fixed the URL and changed the `blizzard.account.user` method to `blizzard.account.userInfo` for consistency with the Blizzard API docs. Your blizzard.js usage should now be

[code]

[2019-01-03 09:22] Nerothos commented on #75
Oh ok, I've tried with body: {token:${token}} so that's why it didn't work 🤣
Nice that it's working without url param 👍

[2019-01-03 16:51] AlexZeDim commented on #75
According to Blizzard email, Mashery API will be shut down in couple of days. Do you have plans to merge this branch `75` with `master `?

[2019-01-03 22:13] benweier commented on #75
Absolutely! I expect to merge PR #79 in ~6hrs. Unfortunately my laptop is going in for repairs tonight and I won't get it back until the 7th, so that kinda forced my hand when I was planning to publish 3.0.0 tomorrow. Documentation + migration can be finished from the web UI over the weekend...

[2019-01-04 03:45] #75 closed

[2019-01-04 03:57] benweier commented on #75
`3.0.0` is now published to npm. API documentation has been removed to avoid confusion, it will be added as soon as I can finish writing it.

[2019-01-04 10:52] fredriklindell commented on #75
Great work! Many thanks 😊

[2019-01-04 11:12] Nerothos commented on #75
Thanks for your work !

[2019-01-04 16:52] Nerothos commented on #27
Any news about this?

[2019-01-07 02:02] #76 closed

[2019-01-07 02:02] #77 closed

[2019-01-12 05:17] benweier commented on #27
I've made 2019 the year I adopt Typescript! And I don't mean "by December", I'm starting my TS education right away and I plan to really do something about this as soon as I can.

[2019-01-13 17:01] Nerothos commented on #27
Nice to hear about that ! I've currently moving too ;) Good luck with your education =D

[2019-01-23 13:43] dgateles opened #80 "How to - Angularjs"
Im trying to include that in a angularjs project, but without success.
How to add this component on a angularjs project?

[2019-01-23 22:50] benweier commented on #80
It's possible to include `blizzard.js` in a front-end project, although it's not recommended. Your client ID and Secret keys are necessary for some functionality and should be kept private at all times. There is no ESM bundle of the library so you'll need to make sure CommonJS modules work with your build process.

With that said, you would require and initialise `blizzard.js` the same way, but to

[2019-01-24 14:17] KevinBusse opened #81 "Getting User Characters wrong URL"
Override in `endpoint.js` ist wrong for: `/wow/en/user/characters`

According to: https://us.battle.net/forums/en/bnet/topic/20769607186

[2019-01-24 23:47] #81 closed

[2019-03-04 12:38] AlexZeDim opened #84 "How to «Blizzard.js»"
Hi Ben!

Let's be honest, according to **`readme.md`** I should just copy/paste Step 1 & Step 2 and then receive an pretty accurate json with character data. But instead of this, anyone who will be doing the same steps receive only 401 error in console.log.

So, all those, who already checked the code or use this module for quite a long time already knows that there should be 'token' param, just l

[2019-03-30 18:59] greenkeeper[bot] opened #85 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/benweier/blizzard.js/compare/master...benweier:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **migh

[2019-05-01 09:18] Ziao commented on #84
Cheers! Didn't dive into the source yet, but thanks to you I won't have to :)

[2019-05-07 20:40] Rinoa1337 commented on #84
Thx man!

[2019-06-28 09:25] AlexZeDim opened #92 "World of Warcraft Game Data API Update - Patch 8.2"
Blizzard [announced](https://us.battle.net/forums/en/bnet/topic/20772337044) new endpoints for game data a couple of days ago, guess we should update `blizzard.js`, right?

And if the answer is `yes` then how should we do this? I could open [new PR#95](https://github.com/benweier/blizzard.js/pull/95) with (my) updates, but the problem is, that some new game data endpoints are named exactly the sam

[2019-06-28 10:36] AlexZeDim commented on #92
Btw, the key feature of item data endpoint is supporting multi language, so instead of sending each request to endpoint with one `locale` we could send just one and receive a multi-language response like this:
[code]
But unfortunately locale dependency of `Blizzrard.js` won't let us to do this, because locale parameter for axios requests is fixed in file `blizzard.js` in row 218:
[code]
and it def

[2019-06-28 12:31] AlexZeDim commented on #84
This issue is also fixed with [PR#95](https://github.com/benweier/blizzard.js/pull/95)

[2019-06-29 03:53] benweier commented on #92
Thanks @AlexZeDim I'll check this out

[2019-06-29 08:46] benweier commented on #92
It seems there have been a number of features and APIs added in the last few months, and since I'm not as active in the Blizzard API space as I used to be I rely on issues like this to be opened to be made aware of them. I'll review all the new APIs and add them as soon as possible.

[2019-06-29 10:58] AlexZeDim commented on #92
@benweier if I could help you with that, just say me and I'll cover all necessary endpoints. But I need to know how you, as a `maintainer`, prefer to see pattern/structure for new endpoints

[2019-06-29 12:01] benweier commented on #92
Part of the challenge which you already mentioned is that some of the new Data APIs already exist in the Community APIs.

I wonder if Blizzard intends to phase out all Community APIs with a Data API equivalent? If so, should I move deprecated APIs to a "legacy" namespace? If not, should I split the APIs by "community" & "data" namespaces?

I might have to ask around before defining how new endpoin

[2019-06-29 12:58] AlexZeDim commented on #92
Okey, I understood that.

If my vote counts, I definitely vote for `split` because `data` and `community` endpoints are providing not the same/equal data. For example, `item` community endpoint has more rich description with `icon`, `stackable` and other properties and the new `item` data don't have even 70% of them, but have multi-lang names and so on.

So they perfectly complement each other.

[2019-08-04 10:09] hbence01 commented on #84
Thanks, I was actually wondering why I got 401 👍

[2019-09-22 23:06] #85 closed

[2019-12-25 10:31] greenkeeper[bot] opened #102 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `6.7.0` to `6.8.0`.

🚨 [View failing branch](https://github.com/benweier/blizzard.js/compare/master...benweier:greenkeeper%2Feslint-config-prettier-6.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslin

[2020-03-21 12:45] AntDevPlus opened #106 "Can't run .js script"
[code]
I use the latest version available with npm.
To recreate this problem I just wanted to authenticate with my Oauth client ID and secret.

[2020-03-21 13:00] AntDevPlus commented on #106
OK it's fix we must update node.js

[2020-03-23 21:19] rejas commented on #92
Looks like the Community endpoints now longer exist: https://develop.battle.net/documentation/world-of-warcraft/community-api-migration-status
So migrating to the new endpoints needs to be done sicne my RSS feed doesnt work now anymore.
How can I help :-) ?

[2020-07-27 13:53] jwshive opened #114 "Examples do not work, documentation pretty sparse."
New to blizzard.js, working with passport-bnet and it works just fine for authentication but needing to pull from the game apis.

Using the example on the readme I'm getting:

`Error: Request failed with status code 403`

My actual code:

[code]

The response url is not accurate for receiving an item it seems,
`responseUrl: 'https://us.api.blizzard.com/wow/item/168185?locale=en_US',`
does not work

[2020-07-28 16:48] Nerothos commented on #114
I'm not sure the lib has been updated with the last change from the API.

[2020-10-21 22:42] xero88 commented on #114
getting `Error: Request failed with status code 403`

think this lib is dead =(

[2020-10-31 20:42] rejas commented on #114
yes, unfortunaltly @benweier seems to have abandoned it. or maybe he just didnt find the time to reply yet? eh @benweier how is life? hope you are okay?

[2020-11-22 02:10] benweier commented on #114
I want to sincerely apologise for ghosting everyone who use this library and have been waiting for an update to the latest API. I'm not going to make an excuse, there's no reason why I couldn't have found a few minutes while watching Netflix to drop a comment explaining my absence. To provide some context though, this year has been pretty crazy (for so many people as we all know). I was furloughed

[2020-11-22 23:03] Nerothos commented on #114
Thanks for taking the time to reply. Take some time for you !

[2020-11-28 03:25] benweier commented on #114
@Nerothos @rejas @xero88 @jwshive

First thing's first: I don't consider this library to be dead.

I've spent some time this week reacquainting myself with where I got to in the TypeScript rewrite for the new APIs. I'm fairly confident that once I nail the base types for the core functionality (creating an instance of the client, request generic, extending the sub-classes) that hooking up the righ

[2020-11-29 00:35] #27 closed

[2020-11-29 00:35] #80 closed

[2020-11-29 00:35] #84 closed

[2020-11-29 00:35] #92 closed

[2020-11-29 00:35] #102 closed

[2020-11-29 00:35] #106 closed

[2020-12-02 16:09] rejas commented on #114
welcome back  @benweier just holla when we can help :-)

[2020-12-14 00:06] benweier commented on #114
Alright, info dump time:

- I'll close this issue and open a new PR for v4.0.0 when I push that branch
- The earlier work I did to set up a TypeScript workflow manually has been replaced with [TSDX](https://tsdx.io)
- I've got the base class created to handle the common behaviours and "global" methods like getting/validating tokens
- I'm a bit unsure how types should be compiled so I think I need

[2020-12-26 14:03] benweier commented on #114
@rejas @Nerothos @xero88 @jwshive wishing you all a happy and safe _[your specific regional or religious season greeting]_! It's been a long time coming, and unfortunately we're not there yet, but I have just pushed the `v4-ts` branch so that you all can track the progress of the TypeScript rewrite. Tomorrow I'll add individual tasks to the PR to document what's left to do, but it's basically impl

[2020-12-26 14:03] #114 closed

[2021-02-03 20:12] tandrionos opened #120 "Severity Warning - Axios"
[code]

I'm met with a high severity warning when installing this package.

[2021-02-07 02:52] benweier commented on #120
Thanks @tandrionos I've finalised version `4.0.0` and published to npm so this warning won't appear after upgrading.

[2021-02-07 02:52] #120 closed

[2021-02-22 21:33] bfaler opened #121 "oath/token request uses GET - no longer allowed by the API"
This morning my app started getting 400 Bad Request errors from the API.  It looks like the oath/token request is sending a GET request which is no longer allowed by the API.

https://develop.battle.net/documentation/battle-net/oauth-apis

There was some discussion about a similiar problem back in September and the change was reverted by Blizzard, but it seems to be happening again.

https://us.fo

[2021-02-22 23:56] benweier commented on #121
Thanks @bfaler could you try removing the `token` property please?

[2021-02-23 00:43] bfaler commented on #121
Sure thing.  I removed the token line so now my code is:

		const wowClient = await blizzard.wow.createInstance({
			key: mainconfig.bnetclientid,
			secret: mainconfig.bnetclientsecret,
			origin: 'us', // optional
			locale: 'en_US' // optional
		}).catch( err => { console.log(err); });

Same response from the API (let me know if you'd like the full error):
      error: 'invalid_request',

[2021-02-23 20:23] bfaler commented on #121
Blizzard has now confirmed that this was a intentional and poorly communicated change.

https://us.forums.blizzard.com/en/blizzard/t/http-get-deprecated-for-oauthtoken-endpoint/15232

[2021-02-26 15:16] AlexThomas90210 commented on #121
@bfaler How did you get around this?

[2021-02-26 15:35] bfaler commented on #121
@AlexThomas90210 I haven't been able to work around it yet.  Hopefully @benweier  will have time to look into it further soon.

[2021-02-27 03:07] benweier commented on #121
Thanks guys, I have jumped on this today and pushing out a new version shortly

[2021-02-27 03:07] #121 closed

[2021-02-27 03:22] benweier commented on #121
`4.0.2` has now been published to npm

[2021-02-27 20:46] albri opened #123 "WoW Classic instance returning retail data"
I'm trying to use this library specifically for WoW Classic as documented.

I am trying to create a WoW Classic instance like below

[code]

But whenever I use wowClassicClient I only get retail specific data back.

For example ` await wowClassicClient.playableClass()` returns all 12 retail classes. Searching for items returns the retail versions.

Am I missing something somewhere?

Thanks

[2021-02-28 00:33] benweier commented on #123
Hey @albri that's my bad I forgot to set the namespace of the wow classic methods. I'll get a fix going

[2021-02-28 12:05] benweier commented on #123
@albri fixed, `4.1.0` is now published to npm

[2021-02-28 12:05] #123 closed

[2021-02-28 13:14] albri commented on #123
Great, thanks a lot!

[2021-03-02 12:13] awls99 opened #124 "Cannot read property 'node' of undefined"
Hello, I'm trying to use this lib on a Typescript Vue app, but I get this error while trying to instantiate the client.
the culprit line according to chrome:
[code]

my current dependencies:
[code]

Using Node LTS 14.16.0 with npm 6.14.11

Can you point me in the right direction? Thank you.

[2021-03-03 06:21] benweier commented on #124
Hi @awls99, Vue is a front end framework and `blizzard.js` is intended as a server-only package. It's not secure at all to use your API key and secret within the browser.

I recommend creating a Node server with something like `express` to handle your API requests without exposing the credentials.

[2021-03-03 09:39] awls99 commented on #124
Thank you @benweier!
I understand, still thought we could leverage it for helping develop a private prototype quickly and worry about that when and if we decide to move forward.

[2021-03-03 09:39] #124 closed

[2021-09-05 19:32] jotarun opened #126 "gameMode support of card in Hearthstone"
https://github.com/benweier/blizzard.js/wiki/Hearthstone

currently gameMode is supported in cardSearch but not in card

[2022-01-04 04:04] benweier commented on #126
Sorry for the long wait @jotarun I must have missed this issue in my notifications. `4.2.0` will be published shortly and includes the `gameMode` param

[2022-01-04 04:04] #126 closed

[2022-01-27 13:22] iraizo opened #128 "locale getting ignored/som missing"
This is my current code

[code]

The output is **classic era** servers which are in all locales instead of en_US, and the SOM servers are also missing, not sure if thats because of the API or the library

[2022-02-18 13:11] Savedyou commented on #128
I believe the wow api only returns the en_US locale for an index of realms and ignores your set locale.  If you look up and individual realm you can use locale of your choice as an argument.  At least I remember getting stuck on something like this in the past.

[2022-08-24 08:55] Akandesh opened #131 "Missing /wow/auctions/commodities"
New WoW API endpoint: https://us.forums.blizzard.com/en/blizzard/t/immediate-change-to-auction-apis-for-commodities-with-927/31522

[2022-08-24 23:02] benweier commented on #131
Thanks @Akandesh I'll jump on this as soon as I can

[2022-08-30 09:37] benweier commented on #131
@Akandesh `4.3.0` has been published to npm with the `wow.commodities` method

[2022-08-30 09:37] #131 closed